@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

.bg-gradient {
  height: auto;
  width: auto;
  background-image: linear-gradient(120deg, #3e32a8, #e310c7);
  text-align: center;
  background-size: cover;
}

.header {
  width: auto;
  height: auto;
  padding: 0 10%;
  text-align: center;
  font-weight: 100px;
  font-size: x-large;
  line-height: 100px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.container_student {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.student {
  gap: 10px;
  margin-left: 15px;
  width: auto;
  height: auto;
  padding: 0 5%;
  text-align: center;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  flex: 1;
  transition: 0.3s all ease;
}

.student:hover {
  flex: 2;
  background-color: rgb(207, 207, 207);
  color: black;
}

.cs_students {
  gap: 10px;
  margin-left: 15px;
  width: auto;
  height: auto;
  padding: 0 5%;
  text-align: center;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  flex: 1;
  transition: 0.3s all ease;
}

.cs_students:hover {
  flex: 2;
  background-color: rgb(207, 207, 207);
  color: black;
}

.contain_student {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.h1 {
  font-size: x-large;
}
